#tournament-listing {
	font-size: large;
	list-style-type: circle;
}

#blaston {
	background-image:url("../img/blaston.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#propagation {
	background-image:url("../img/propagation.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#superhot {
	background-image:url("../img/superhot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}
.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}